<!DOCTYPE html>
<html>
    <head>
        <title>D3 api timeline controller</title>
		<meta name="viewport" 
		content="width=device-width, 
		initial-scale=1.0, 
		user-scalable=no" />
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="icon" href="/img/favicon.ico" type="imgage/x-icon">
    </head>
    <body>
        <header>
            <h1>D3 api timeline converter</h1>
            <div class="inputs">
                <div>
                    <label for="url">D3 Director IP</label>
                    <input type="text" name="url" id="url" value="127.0.0.1">
                    <input type="button" name="refresh" id="refresh" value="Refresh">
                </div>
            </div>
        </header>
        <section>
            <h2 class="transport"></h2>
        </section>
        <section class="download">
            <input type="button" name="download" id="download" value="Download XML for MA2">
        </section>
    </body>
    <script src="/js/main.js"></script>
</html>